<h1>Notes</h1>

<p><%= link_to 'Create note', notes_new_path %></p>

<% @notes.each do |note| %>
	<p>
		<%= note.text %> - 
		<%= link_to 'edit', notes_edit_path(note.id) %> - 
		<%= link_to 'delete', notes_delete_path(note.id), method: :delete %>  
  </p>
<% end %>